### Root ###
node_modules/
package-lock.json

### Web ###
web/node_modules/
web/build/
web/package-lock.json

# Sass #
.sass-cache/

/web/src/assets/sass/*.css

#vscode
.vscode/

#keys
#*_key.json


# 